body {
    color: #636363;
    line-height: 1.4;
    background: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

a {
    color: black;
}

.searchform {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

.header, .header__logo, .header__menu, .header__search {
    float: left;
}

.header__logo, .header__menu, .header__search {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header {
    position: fixed;
    top: 0;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
    left: 0;
    background: #fff;
    width: calc(100% - 120px);
    height: 50px;
    z-index: 2;
    padding: 15px 60px;
}

.header__logo img {
    width: 100px;
    height: auto;
}

.header__menu {
    width: calc(100% - 120px);
}

.header__menu ul {
    list-style: none;
    float: right;
    font-size: 13px;
    text-transform: uppercase;
}

.header__menu li a:after {
    content: '';
    width: 0;
    background: black;
    height: 2px;
    display: block;
    transition: .3s;
}

.header__menu li a:hover:after {
    width: 100%;
}

.header__menu li {
    float: left;
    margin: 0 15px;
}

.header__menu li a {
    text-decoration: none !important;
    font-weight: 400;
    color: black;
}

.header__search {
    cursor: pointer;
}

.home__current-category {
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    padding: 40px 0;
    color: black;
    font-family: 'Dosis', sans-serif;
}

.body {
    position: relative;
    margin-top: 80px;
}

.home-grid {
    width: calc(100% - 120px);
    margin: 0 60px;
}

.home-grid__cell {
    font-size: 13px;
    min-width: 240px;
    position: relative;
    text-decoration: none;
    color: rgb(21, 21, 21);
    float: left;
    display: block;
    width: calc(25% - 20px);
    margin: 10px;
}

.home-grid__cell:hover .home-grid__cell-post {
    transform: translate(8px, 8px);
}

.home-post__thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.home-post__thumbnail img {
    width: 100%;
    background: yellow;
    height: auto;
}

.home-post__title {
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.home-post__content {
    position: relative;
    padding: 8px 16px;
    background: white;
}

.home-post__excerpt {
    text-align: justify;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
}

.home-grid__cell-shadow {
    background: black;
    position: absolute;
    left: 8px;
    top: 8px;
    width: 100%;
    height: 100%;
}

.home-grid__cell-post {
    width: 100%;
    position: relative;
    top: 0;
    transition: .1s ease-in;
    border: 2px solid black;
}

.footer {
    float: left;
    background: #fff;
    padding: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.footer li {
    display: inline-block;
    margin: 0 8px;
}

.menu-social-menu-container i {
    color: black;
}

.menu-social-menu-container i:hover {
    color: rgba(0, 0, 0, 0.6);
}

.single-post {
    padding: 50px 25%;
    color: black;
}

.single-post__title {
    font-size: 48px;
    text-transform: uppercase;
    color: black;
    font-family: 'Dosis', sans-serif;
}

.single-post__content {
    font-size: 20px;
    line-height: 30px;
    font-family: 'EB Garamond', serif;
}

.single-post__content p {
    margin-bottom: 32px;
}

.single-post__author-wrapper {
    float: left;
    width: 100%;
    font-weight: bold;
    color: black;
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 50px;
}

.single-post__author-wrapper span {
    float: left;
    margin-right: 4px;
}

.single-post__author {
    text-decoration: none !important;
    float: left;
}

.single-post__author:after {
    content: '';
    width: 0;
    background: black;
    height: 2px;
    display: block;
    transition: .3s;
}

.single-post__author:hover:after {
    width: 100%;
}


