body {
    color: #636363;
    line-height: 1.4;
    background: #f5f5f5;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

a {
    color: black;
}

b, strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

p img {
    width: 100%;
    height: auto;
}

button:focus {
    outline: 0;
}

.lahar-button {
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    color: black;
    text-decoration: none;
}

.lahar-button--white {
    color: white;
}

.lahar-button:before {
    transition: .3s ease-in;
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    position: absolute;
    background: black;
    left: 0;
    top: 0;
}

.lahar-button--white:before {
    transition: .3s ease-in;
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    position: absolute;
    background: white;
    left: 0;
    top: 0;
}

.lahar-button:hover {
    color: inherit;
}

.lahar-button:hover span {
    transition: .3s ease-in;
    display: inline-block;
    transform: scale(1);
}

.lahar-button:hover:before {
    width: 100%;
}

.search-form {
    top: 80px;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: .6s;
    opacity: 0;
    visibility: hidden;
    font-family: "Work Sans", sans-serif;
    display: block;
    text-align: center;
}

.search-form--visible {
    visibility: inherit;
    opacity: 1;
}

.search-form label {
    display: inline-block;
    margin-top: 20%;
    width: 100%;
}

@media only screen and (max-width: 400px) {
    .search-form {
        top: 56px;
    }

    .search-form label {
        margin-top: 10%;
    }
}

.screen-reader-text {
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: "Work Sans", sans-serif;
}

input.search-field {
    display: block;
    font-size: 80px;
    padding: 0;
    margin: 0;
    background: none;
    height: auto;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    outline: 0;
    font-weight: 600;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: white;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.header, .header__logo, .header__menu, .header__search {
    float: left;
}

.header__logo, .header__menu, .header__search {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header {
    position: fixed;
    top: 0;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
    left: 0;
    background: #fff;
    width: calc(100% - 120px);
    height: 50px;
    z-index: 2;
    padding: 15px 60px;
}

@media only screen and (max-width: 890px) {
    .header {
        padding: 15px 20px;
        width: calc(100% - 40px);
    }
}

@media only screen and (max-width: 400px) {
    .header {
        padding: 0 20px;
        padding-top: 6px;
    }
}

.header__logo img {
    width: 100px;
    height: auto;
}

.header__menu {
    width: calc(100% - 120px);
}

.menu--mobile {
    position: fixed;
    top: -100%;
    transition: .3s;
    background: white;
    z-index: 1;
    text-align: center;
    height: calc(100vh - 56px);
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
}

@media only screen and (min-width: 401px) {
    .menu--mobile {
        padding: 40px 0;
    }
}

@media only screen and (min-width: 891px) {
    .menu--mobile {
        display: none;
    }
}

.menu--mobile li {
    padding: 16px 0;
}

.menu--mobile a {
    text-decoration: none;
}

.menu--mobile.is-active {
    top: 56px;
}

@media only screen and (max-width: 890px) {
    .header__menu {
        display: none;
    }
}

.header__menu ul {
    list-style: none;
    float: right;
    font-size: 13px;
    text-transform: uppercase;
}

.header__menu li a:after {
    content: '';
    width: 0;
    background: black;
    height: 2px;
    display: block;
    transition: .3s;
}

.current-menu-item a:after {
    width: 100% !important;
}

.header__menu li a:hover:after {
    width: 100%;
}

.header__menu li {
    float: left;
    margin: 0 15px;
}

.header__menu li a {
    text-decoration: none !important;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
}

.header__search {
    cursor: pointer;
}

@media only screen and (max-width: 890px) {
    .header__search, .hamburger {
        float: right;
    }
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 890px) {
    .hamburger {
        display: inline-block;
    }
}

.hamburger-box {
    width: 24px;
    height: 24px;
    margin-left: 20px;
}

.hamburger-inner {
    width: 24px;
    height: 2px;
    top: 39%;
}

.hamburger-inner:before, .hamburger-inner:after {
    width: 24px;
    height: 2px;
}

.hamburger-inner:before {
    top: -8px;
}

.hamburger-inner:after {
    bottom: -8px;
}

.home__current-category {
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    padding: 40px 0;
    color: rgba(0, 0, 0, 0.9);
    transition: .8s linear;
    opacity: 0;
}

.home__current-category--show {
    opacity: 1;
}

.home-hero {
    background: white;
    position: relative;
    padding: 80px 0 122px 0;
    text-align: center;
}

@media only screen and (max-width: 400px) {
    .home-hero {
        padding: 40px 20px;
        padding-bottom: 90px;
    }
}

.home-hero__content {
    display: inline-block;
    position: relative;
}

.home__issue-cover {
    display: inline-block;
}

.home__issue-cover img {
    border: 2px solid #333;
}

.home__issue-title-wrapper {
    display: inline-block;
    text-align: right;
    position: relative;
    bottom: 113px;
    margin-left: 20px;
}

@media only screen and (max-width: 400px) {
    .home__issue-title-wrapper {
        text-align: center;
        bottom: 0;
        margin-left: 0;
    }
}

.home__issue-title {
    font-size: 56px;
    color: #333;
    text-transform: uppercase;

    line-height: 63px;
    margin: 16px 0 24px 0;
}

.home__issue-title-wrapper .home__issue-title {
    line-height: initial;
    margin: 0;
}

.home__collab-action {
    font-size: 15px;
    font-family: "Work Sans", sans-serif;
    margin-right: 6px;
}

.home__collab-action:hover {
    color: white;
}

@media only screen and (max-width: 400px) {
    .home__collab-action {
        border: 1px solid black;
        border-radius: 3px;
        padding: 4px 8px;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 8px;
        font-size: 16px;
        text-transform: none;
    }
}

.home__collab-action:hover:after {
    width: 100%;
}

.body {
    position: relative;
    margin-top: 80px;
    opacity: 0;
    transition: 1s;
    min-height: calc(100vh - 150px);
}

@media only screen and (max-width: 400px) {
    .body {
        margin-top: 56px;
        min-height: calc(100vh - 126px);
    }

}

.body.idea, .body.contacts {
    margin-bottom: 50px;
}

.body.collaborate {
    opacity: 1;
    width: 100%;
    min-height: calc(100vh - 120px);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    background-color: white;
    margin-top: 48px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.collaborate .title {
    text-align: center;
}

.collaborate .home-other__title {
    top: 0;
    margin-top: 40px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 400px) {
    .collaborate .home-other__title {
        margin: 10px 0;
    }
}

.intro, .mood, .illustrations, .articles {
    background: white;
    margin-top: 32px;
    border: 2px solid #333;
    color: #333;
    padding: 24px;
}

.collaborate-content {
    max-width: 660px;
    margin: auto;
    font-size: 18px;
}

@media only screen and (max-width: 400px) {
    .collaborate-content {
        width: 90%;
    }
}

.collaborate h3 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

.collaborate p:not(:first-child) {
    margin-top: 26px;
}

.body--visible {
    opacity: 1;
}

.home-grid {
    width: calc(100% - 120px);
    margin: 0 auto;
    max-width: 1200px;
    top: -54px;
}

@media only screen and (max-width: 400px) {
    .home-grid {
        width: 90%;
    }
}

.home-grid__cell {
    font-size: 13px;
    position: relative;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    float: left;
    display: block;
    width: calc(25% - 20px);
    margin: 10px;
    font-weight: 400;
}

@media only screen and (max-width: 1200px) {
    .home-grid__cell {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 400px) {
    .home-grid__cell {
        min-width: auto;
        width: auto;
        margin-bottom: 10px;
    }
}

.home-grid__cell:hover .home-grid__cell-post {
    transform: translateY(-8px);
}

.home-post__thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.home-post__thumbnail img {
    width: 100%;
    background: yellow;
    height: auto;
}

.home-post__title {
    font-size: 24px;
    text-transform: uppercase;
}

.home-post__content {
    position: relative;
    padding: 16px 24px;
    background: white;
    border: 2px solid #333;
    color: #333;
}

.home-post__content--attachment {
    position: relative;
    border: 2px solid #333;
}

.home-post__content--attachment img {
    display: block;
    width: 100%;
    height: auto;
}

.home-post__author {
    font-size: 14px;
}

.home-post__excerpt {
    font-weight: 400;
    margin-top: 16px;
    font-size: 14px;
}

.home-grid__cell-post {
    width: 100%;
    position: relative;
    top: 0;
    transition: .15s ease-in;
}

.home-other {
    margin: auto;
    background: white;
    padding-bottom: 40px;
    text-align: center;
    float: left;
    width: 100%;
}

.home-other__title {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 50px;
    color: #333;
    border: 2px solid #333;
    display: inline-block;
    position: relative;
    top: -24px;
}

.home .home-other__title {
    background: white;
}

.subsection {
    text-align: center;
}

.subsection-title {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 50px;
    color: #333;
    display: inline-block;
    position: relative;
    border: 2px solid #333;
    margin: 40px 0;
}

.contacts .subsection-title {
    margin-bottom: 40px;
    margin-top: 20px;
}

.home-other-grid {
    position: relative;
    width: calc(100% - 120px);
    margin: 0 auto;
    max-width: 1200px;
}

@media only screen and (max-width: 400px) {
    .home-other-grid {
        width: calc(100% - 50px);
    }
}

.home-other-grid__item {
    width: calc(50% - 36px);
    float: left;
    margin: 8px;
    border: 2px solid;
    background: white;
    position: relative;
    transition: .15s ease-in;
    height: 200px;
    padding: 8px;
}

.home-other-grid__item-background {
    overflow: hidden;
    height: 100%;
    position: relative;
}

@media only screen and (max-width: 780px) {
    .home-other-grid__item {
        width: calc(100% - 36px);
    }
}

.home-other-grid__item:hover {
    transform: translateY(-8px);
}

.home-other-grid__item img {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.home-other__item-description {
    position: relative;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    background: white;
    padding: 16px 24px;
    font-style: italic;
    line-height: 22px;
}

.rubrica .home-grid {
    top: 0;
}

.rubrica {
    padding-bottom: 40px;
}

.home-other__item-title {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 0 20px;
    text-align: left;
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid;
}

.home-other-grid__item--first {
    width: calc(100% - 16px);
}

.footer {
    float: left;
    padding: 32px 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer .menu-social-menu-container {
    padding: 16px 0;
}

.footer li {
    display: inline-block;
    margin: 0 8px;
}

.footer .fa-heart {
    margin: 0 2px;
}

.footer__signature {
    color: #333;
    font-size: 14px;
}

.menu-social-menu-container i {
    color: black;
}

.menu-social-menu-container i:hover {
    color: rgba(0, 0, 0, 0.6);
}

.single-post {
    margin: 50px 0;
    color: rgba(0, 0, 0, 0.9);
    background: white;
}

.single-post__category {
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px 8px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 8px;
    font-size: 16px;
    text-transform: none;
}

.single-post__category:hover {
    color: white;
}

.single-post__wrapper {
    background: white;
    margin: auto;
    padding: 40px 60px;
    max-width: 620px;
    min-height: calc(100vh - 230px);
}

@media only screen and (max-width: 400px) {
    .single-post__wrapper {
        margin-top: 0;
        padding: 20px;
        margin-bottom: 1px;
        box-shadow: none;
        min-height: calc(100vh - 166px);
    }
}

.single-post__title {
    font-size: 48px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.9);
    margin-left: -3px;
    line-height: 56px;
}

.single-post__content {
    font-size: 20px;
    line-height: 30px;
    font-family: 'EB Garamond', serif;
}

.single-post__content p {
    margin-bottom: 32px;
}

.single-post__author-wrapper {
    float: left;
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    font-size: 24px;
    margin-bottom: 40px;
}

.single-post__author-wrapper span {
    float: left;
    margin-right: 4px;
}

.single-post__author {
    text-decoration: none !important;
    float: left;
}

.single-post__author:after {
    content: '';
    width: 0;
    background: black;
    height: 2px;
    display: block;
    transition: .3s;
}

.single-post__author:hover:after {
    width: 100%;
}

.single-attachment__title {
    font-size: 48px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.9);
    word-wrap: break-word;
    line-height: 56px;
}

.single-attachment__title-wrapper {
    margin: 0 auto;
    max-width: 720px;
    margin-bottom: 50px;
}

.single-attachment__content {
    text-align: center;
    margin-bottom: 60px;
}

.single-attachment__content img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 50px 0 rgba(153, 153, 153, 0.6);
}

.issue-cover {
    width: 100%;
    text-align: center;
    transition: .8s;
    transform: translateY(calc(-100% - 100px));
}

.issue-cover--show {
    transform: translateY(0);
}

.issue-cover img {
    border: 2px solid #333;
}

.archive {
    text-align: center;
}

.archive .home-other__title {
    top: 0;
    margin-top: 40px;
}

.archive-grid {
    margin: 0 auto;
    max-width: 976px;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 400px) {
    .archive-grid {
        width: 244px;
    }
}

@media only screen and (max-width: 400px) {
    .archive-grid {
        padding-top: 30px;
    }
}

.archive-grid__item {
    border: 2px solid #333;
    margin: 16px;
    transition: .4s;
    display: inline-block;
}

.archive-grid__item a {
    display: block;
    line-height: 0;
}

.archive-grid__item:hover {
    transform: translateY(-16px);
}

.archive.category .home-hero {
    padding: 40px 20px 56px 20px;
}

.archive.category .home__current-category {
    padding: 0 0 20px 0;
}

.tag-title {
    font-size: 48px;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    transition: .8s linear;
    opacity: 0;
    line-height: 56px;
    margin: 113px 0 90px 0;
}

.tag-title--show {
    opacity: 1;
}

.tag-title__name, .tag-title__magazine {
    text-transform: uppercase;
}

.tag-title__separator {
    height: 66px;
}

.rubriche .home-other__title {
    top: 0;
    margin: 40px 0;
}

@media only screen and (max-width: 400px) {
    .rubriche .home-other__title {
        margin-bottom: 40px;
    }
}

.rubrica-cover {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.rubrica-cover:before {
    content: '';
    display: block;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.rubrica-cover img {
    width: 100%;
    height: auto;
}

.rubrica__description {
    position: relative;
    color: white;
    text-align: center;
    padding: 32px 20px;
    font-size: 32px;
    font-weight: 400;
    max-width: 920px;
    margin: auto;
}

.rubrica__description--visible {
    bottom: 0;
}

.category__parent-name {
    font-size: 20px;
    text-decoration: none;
}

.category__parent-name:after {
    content: '';
    width: 0;
    background: black;
    height: 2px;
    display: block;
    margin: auto;
    transition: .3s;
}

.category__parent-name:hover:after {
    width: 10%;
}

.idea-group {
    max-width: 820px;
    margin: auto;
}

.idea__content {
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
    float: left;
    width: 100%;
}

@media only screen and (max-width: 400px) {
    .idea-group, .idea-editors {
        width: 90%;
    }
}

.idea-item {
    background: white;
    margin-bottom: 10px;
    text-align: left;
    border: 2px solid #333;
    color: #333;
}

.idea-item__button {
    padding: 24px;
    position: relative;
    font-size: 32px;
    cursor: pointer;
}

.idea-item__title {
    position: relative;
    float: left;
}

.idea-item__expand-action {
    text-align: right;
}

.idea-item__accordion {
    font-size: 18px;
    max-height: 0;
    transition: .5s;
    overflow-y: hidden;
}

.idea-item__accordion--visible {
    max-height: 150px;
}

.idea-item__accordion p {
    margin: 0 32px 32px 32px;
}

.idea-editors {
    max-width: 820px;
    padding: 24px 0;
    margin: auto;
    background: white;
    text-align: left;
    border: 2px solid #333;
    color: #333;
}

.idea-editors__item {
    font-size: 18px;
    margin: 16px 32px;
}

.idea-editors__key {
    font-weight: bold;
    margin-right: 16px;
}

.contatti-content #menu-social-menu {
    width: 50%;
    margin: auto;
    text-align: center;
}

.contatti-content li {
    display: inline-block;
    margin: 0 16px;
}

.contatti__content {
    margin: auto;
    padding-bottom: 30px;
    text-align: center;
    float: left;
    width: 100%;
}

.contact-form {
    width: 50%;
    margin: auto;
    margin-top: 48px;
}

input[type=text], input[type=email], textarea {
    box-sizing: border-box;
    border: 1px solid #333;
    padding: 12px 16px;
    margin: 15px 0 12px 0;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    max-width: 100%;
    height: 42px;
    outline: 0;
    background: #fff;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input.wpcf7-form-control.wpcf7-submit {
    font-size: 11px;
    line-height: 38px;
    font-weight: 600;
    padding: 0 26px;
    border: 2px solid #151515;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    color: #151515;
    background: transparent;
    text-transform: uppercase;
    text-shadow: none !important;
    text-align: center;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.contatti-footer {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: 0 20px;
}

.contact-form label {
    text-transform: uppercase;
    font-size: 11px;
}

.wpcf7-not-valid {
    border-color: #e76049 !important;
}

.wpcf7-not-valid-tip {
    text-transform: none;
    margin-bottom: 20px;
}

.contact-form textarea {
    width: 100%;
    min-height: 150px;
}

.contact-form__name {
    width: 45%;
    float: left;
}

.contact-form__email {
    width: 45%;
    float: left;
    margin-left: 10%;
}

@media only screen and (max-width: 400px) {
    .contatti-content #menu-social-menu, .contact-form__name {
        width: 100%;
    }

    .contact-form {
        width: 80%;
    }

    .contact-form__email {
        width: 100%;
        margin-left: 0;
    }

    .attachment img {
        max-width: 90%;
    }
}

.error404 .body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.error404 .body:before {
    content: '';
    background: rgba(0, 0, 0, 0.6);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.body-error {
    text-align: center;
    padding-top: 18%;
    color: white;
    padding-left: 20px;
    transform: translateZ(0);
    padding-right: 20px;
}

.body-error__title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.body-error__content {
    max-width: 600px;
    padding: 24px 0;
    margin: auto;
}

.body-error__quote {
    font-style: italic;
    font-size: 32px;
    font-family: 'EB Garamond', serif;
}

.body-error__quote-author {
    font-family: 'EB Garamond', serif;
    font-size: 24px;
}

.body-error .go-home-action {
    font-size: 16px;
    line-height: 38px;
    font-weight: 600;
    padding: 0 26px;
    border: 2px solid white;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    color: white;
    background: transparent;
    text-transform: uppercase;
    text-shadow: none !important;
    text-align: center;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    text-decoration: none;
    margin-top: 10%;
}

/* Mailchimp newsletter subscription form */
#mc_embed_signup h2 {
    font-size: 24px;
    color: #333;
}

#mc_embed_signup .mc-field-group {
    position: relative;
    display: inline-block;
    border: 1px solid #333;
    border-radius: 3px;
    margin-top: 16px;
}

#mc_embed_signup input[type="email"] {
    border: none;
    margin: 0;
    width: 250px;
    background: transparent;
}

#mc_embed_signup button {
    border: none;
    margin-top: 0;
    background: transparent;
    cursor: pointer;
    vertical-align: middle;
    padding: 5px 8px;
}

.magazine-subscriber {
    text-align: center;
    float: left;
    padding: 16px;
    background: black;
    color: white;
    width: calc(100% - 32px);
    font-size: 18px;
}

.magazine-subscriber__content a {
    font-size: 16px;
    border-color: white;
    text-transform: capitalize;
    color: white;
    margin-bottom: 0;
    margin-right: 4px;
}

.magazine-subscriber__content-text {
    color: white;
}

@media only screen and (max-width: 400px) {
    .magazine-subscriber {
        padding: 16px;
    }

    .magazine-subscriber, .magazine-subscriber__content a {
        font-size: 16px;
    }
}